@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: rgb(249 250 251);
    color: rgb(17 24 39);
  }
  .dark body {
    background-color: rgb(17 24 39);
    color: rgb(243 244 246);
  }
}
